html{
  background-color: #000000;
  background-image :linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  background-size: 100%;
  object-fit: fill;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 17px; 
  margin: 1%;
  width:100%;
  height:100%;
}

h1 {
  color:#4d1414; 
  font-weight:bolder;
  font-family: Crete Round
}
div{
  margin-left: 3%;
  margin-right: 3%
}

svg {
    width: 1000px;
    height: 450px;
    viewBox: 0 0 800 800;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #bbbbbb;
  border-radius: 25px;
  width:70%;
  height: 100%;  
  margin-left: 15%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: bolder;
  border-radius: 25px;
  border: 1px ;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #4d1414;
  color: white;

}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #4d1414;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#About{
  font-size: 70;
  font-weight: bolder;
  font-family:Florence;
  color:black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 100%;
  height:90%%;
}
/*Style author page*/
#DeathCauses{
  border-radius: 25px;
  border: 1.5px dashed #106117;
  /*padding: 20px; */
  margin-left: 15%;
  width: 70%;
  height: 100%;  
  background-color:#f2f2f2;
  color: black;
}

#ByState{
  border-radius: 25px;
  border: 1.5px dashed #106117; 
  width: 70%;
  height: 100%;  
  background-color:#f2f2f2;
  margin-left: 15%
}

#RiskFactors{
  border-radius: 25px;
  border: 1.5px dashed #106117; 
  width: 70%;
  height: 100%;  
  background-color:#f2f2f2;
  margin-left: 15%
}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  /*justify-content: center;
  align-items: center;*/
  padding: 10px;
  height: 500px;
  margin-right: 1%;
  margin-left: 1% ;
}

.left {
  width: 25%;
  margin-left: 6%
}
.right {
  width: 20%;
  /*margin-right: : 5%*/
}

.middle {
  width: 35%;
  background-color: black; 
  color: white
}

.title{
  text-align: center; 
  color: #dddddd;
  font-family: Eagle Lake;
  font-weight: bolder; 
  text-decoration-line: underline;
  text-shadow: 3px 3px 30px 1px #dddddd;
}

.reaper{
  width: 100%; 
  height: 100%;
  box-shadow: -5px -5px 20px #dddddd
}

.clock{
  width: 100%; 
  height: 100%; 
  box-shadow: 5px 5px 20px #dddddd
}

.col{
  font-weight: lighter;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 10px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.right1 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.axis { font: 13px sans-serif; }

